@charset "UTF-8";
@font-face {
  font-family: "Stem";
  src: url("../../assets/fonts/Stem-SemiLight.ttf");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "Stem";
  src: url("../../assets/fonts/Stem-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Stem";
  src: url("../../assets/fonts/Stem-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../../assets/fonts/Gothampro_bold.ttf");
  font-weight: 700;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --bg-color: #f7f8f8;
  --dark-main-text: #1d1d1d;
  --white-main-text: #ffffff;
  --white-color: #ffffff;
  --blue-color: #1d71a0;
  --orange-color: #e04926;
}

.header > div:first-child {
  max-width: 1920px;
}

.header__container {
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 4px 4px 30.4px 0px rgba(0, 0, 0, 0.1);
}

.header__content-top {
  height: 100px;
  display: flex;
  align-items: center;
}

.header__content-top.__container {
  max-width: 1160px;
  padding: 0;
}

.menu__icon {
  display: none;
}

.header__logo {
  display: flex;
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
}

.menu__link {
  color: var(--dark-main-text);
  font-family: Stem;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-right: 50px;
}

.header__btn-application {
  height: 36px;
  color: var(--white-color);
  background-color: var(--orange-color);
  border-radius: 10px;
  font-family: Stem;
  font-size: 18px;
  font-weight: 500;
  padding: 2px 26px;
  border: none;
  box-sizing: content-box;
  transition: all 0.3s ease 0s;
}

.header__btn-application:hover {
  background-color: #000;
  color: var(--white-color);
}

.header__btn-application:active:focus {
  background-color: #000;
  color: var(--white-color);
}

.header__content-bottom {
  background-color: var(--bg-color);
}

.header__content-bottom__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  gap: 66px;
}

.header__link-bottom {
  color: var(--dark-main-text);
  font-family: Stem;
  font-size: 20px;
  font-weight: 350;
  letter-spacing: 0%;
  line-height: 24px;
}

.bottom__list li:not(:last-child) {
  margin-right: 82px;
}

.callback__btn {
  background-color: transparent;
  border: 1px solid var(--orange-color);
  color: var(--orange-color);
  transition: all 0.3s ease 0s;
}

.callback__btn:hover {
  background-color: var(--white-color);
  color: var(--orange-color);
}

.banner {
  height: 720px;
  background-image: url("../../assets/image/main/hero.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  padding: 150px 0 222px 0;
}

.banner__content {
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.banner__content > button {
  max-width: 229px;
}

.banner__title {
  color: var(--white-color);
  font-family: Stem;
  font-size: 48px;
  font-weight: 700;
  line-height: 66.16px;
  text-align: left;
  max-width: 791px;
}

.about {
  margin: 126px 0 129px 0;
}

.about__content {
  display: flex;
  flex-direction: column;
}

.about__text {
  color: var(--dark-main-text);
  font-family: Stem;
  font-size: 20px;
  font-weight: 350;
  line-height: 130%;
  margin-bottom: 38px;
}

.about__title {
  color: var(--dark-main-text);
  font-family: Stem;
  font-size: 48px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 35px;
}

.about__tabs {
  height: 500px;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 4px 4px 30.4px 0px rgba(0, 0, 0, 0.1);
  padding: 40px 100px 40px 74px;
}

.tabs {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 46px;
}

.tab-nav > input[type=radio] {
  display: none;
}

.tab-content {
  display: none;
  width: 432px;
  height: 420px;
  background-color: var(--orange-color);
  border-radius: 10px;
  color: var(--white-color);
  font-family: Stem;
  font-size: 18px;
  font-weight: 350;
  line-height: 130%;
  text-align: left;
}

.tab-nav > label {
  background-image: url("../../assets/image/main/arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: var(--dark-main-text);
  font-family: Stem;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 60px;
  cursor: pointer;
}

#content-1 {
  padding: 40px 64px 71px 40px;
  background-image: url("../../assets/image/main/tabs-1.png");
  background-repeat: no-repeat;
  background-position: 92% 92%;
}

#content-2 {
  padding: 40px 40px 71px 40px;
  background-image: url("../../assets/image/main/tabs-2.png");
  background-repeat: no-repeat;
  background-position: 92% 92%;
}

#content-3 {
  padding: 40px 19px 42px 40px;
  background-image: url("../../assets/image/main/tabs-3.png");
  background-repeat: no-repeat;
  background-position: 92% 92%;
}

#content-4 {
  padding: 40px 33px 70px 40px;
  background-image: url("../../assets/image/main/tabs-4.png");
  background-repeat: no-repeat;
  background-position: 92% 92%;
}

#content-5 {
  padding: 40px 61px 94px 40px;
  background-image: url("../../assets/image/main/tabs-5.png");
  background-repeat: no-repeat;
  background-position: 92% 92%;
}

#content-6 {
  padding: 40px 33px 71px 40px;
  background-image: url("../../assets/image/main/tabs-6.png");
  background-repeat: no-repeat;
  background-position: 92% 92%;
}

#content-1:has(~ .tab-nav > #tab-btn-1:checked),
#content-2:has(~ .tab-nav > #tab-btn-2:checked),
#content-3:has(~ .tab-nav > #tab-btn-3:checked),
#content-4:has(~ .tab-nav > #tab-btn-4:checked),
#content-5:has(~ .tab-nav > #tab-btn-5:checked),
#content-6:has(~ .tab-nav > #tab-btn-6:checked) {
  display: block;
}

.tab-nav {
  display: flex;
  flex-direction: column;
  gap: 33px;
  width: 505px;
}

.tab-nav > input[type=radio]:checked + label {
  background-image: url("../../assets/image/main/orange-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: var(--orange-color);
  background-color: #fff;
  cursor: default;
}

.services {
  margin-bottom: 127px;
}

.services__content {
  display: flex;
  flex-direction: column;
  gap: 63px;
}

.services__title {
  color: var(--dark-main-text);
  font-family: Stem;
  font-size: 48px;
  font-weight: 500;
  line-height: 24px;
}

.services__items {
  display: flex;
  justify-content: space-between;
}

.services__item {
  width: 215px;
  height: 320px;
  border-radius: 5px;
  background: var(--white-color);
}

.clearfix:after {
  clear: both;
}

.services__item {
  position: relative;
  overflow: hidden;
  margin: 0;
  list-style: none;
  text-align: center;
}

.services__item h3 {
  padding: 28px 15px 0 15px;
  color: var(--dark-main-text);
  font-family: Stem;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.services__item p {
  width: 215px;
  color: rgb(0, 0, 0);
  font-family: Stem;
  font-size: 16px;
  font-weight: 350;
  line-height: 19px;
  text-align: center;
  height: 400px;
  background-color: var(--white-color);
  transform: translateY(240px);
  transition: transform 0.4s ease-in-out 0s;
  padding: 0 10px;
}

.services__image-1 {
  position: absolute;
  width: 338px;
  height: 94%;
  bottom: -178px;
  left: -57px;
  transform: rotate(7deg);
}

.services__image-2 {
  position: absolute;
  width: 128px;
  height: 75%;
  bottom: -81px;
  left: 44px;
}

.services__image-3 {
  position: absolute;
  width: 100%;
  height: 75%;
  bottom: -81px;
  left: 0px;
}

.services__image-4 {
  position: absolute;
  width: 124%;
  height: 75%;
  bottom: -35px;
  left: 0px;
}

.services__image-5 {
  position: absolute;
  width: 124%;
  height: 75%;
  bottom: -70px;
  left: 0px;
}

.services__item:hover > .services__text {
  transform: translateY(10px);
}

.promo {
  background-image: url("../../assets/image/main/promo.png");
  background-repeat: no-repeat;
  background-size: auto;
  height: 332px;
  margin-bottom: 124px;
}

.promo__content {
  display: flex;
  flex-direction: column;
  gap: 39px;
  padding: 85px 0;
}

.promo__content h3 {
  max-width: 700px;
  color: var(--white-color);
  font-family: Stem;
  font-size: 48px;
  font-weight: 500;
  line-height: 50px;
}

.promo__btn {
  max-width: 218px;
}

.examples {
  margin-bottom: 100px;
}

.examples__content {
  display: flex;
  flex-direction: column;
}

.examples__items {
  display: flex;
  justify-content: space-between;
}

.examples__item {
  max-width: 215px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.examples__item p {
  color: var(--dark-main-text);
  font-family: Stem;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-align: left;
}

.faq {
  width: 100%;
  margin: 0 auto 128px auto;
}

.faq__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.faq-image {
  position: absolute;
  top: 44px;
  right: 25px;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -20px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
details {
  position: relative;
  box-shadow: 4px 4px 30.4px 0px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: 10px;
  background: var(--white-color);
  margin-bottom: 15px;
}

summary {
  padding: 40px;
  color: var(--dark-main-text);
  font-family: Stem;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-align: left;
  cursor: pointer;
}

details p {
  padding: 0 40px 40px 40px;
  color: var(--white-color);
  font-family: Stem;
  font-size: 18px;
  font-weight: 350;
  line-height: 130%;
}

summary {
  list-style-type: none; /* Firefox */
}

summary::-webkit-details-marker {
  display: none; /* Chrome */
}

details[open] {
  background-color: var(--orange-color);
}
details[open] summary {
  color: #fff;
}
details[open] p {
  color: #fff;
}

.faq__container h2 {
  margin-bottom: 63px;
  color: var(--dark-main-text);
  font-family: Stem;
  font-size: 48px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

@media (max-width: 425px) {
  .faq-image {
    display: none;
  }
}
.footer {
  height: 480px;
  background-color: #003350;
  padding: 65px 0 70px 0;
}

.footer__content {
  display: flex;
  height: 360px;
}

.footer__image-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
}

.footer__image-links img {
  width: 100px;
  height: 100px;
}

.footer-links img {
  width: 36px;
  height: 36px;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer__column-2 a li,
.footer__column-1 a li {
  color: var(--white-color);
  font-family: Stem;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.footer__column-1 {
  margin-right: 44px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__column-2 {
  margin-right: 220px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 61px;
}

.footer__contacts div h6 {
  color: var(--white-color);
  font-family: Stem;
  font-size: 18px;
  font-weight: 350;
  line-height: 24px;
  text-align: left;
}

.footer__tel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__tel a {
  color: var(--white-color);
  font-family: Stem;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.footer__adress {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.footer__time p,
.footer__adress p {
  color: var(--white-color);
  font-family: Stem;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.footer__time {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.contact-section {
  margin: 70px 0 126px 0;
}

.contact-section__content {
  display: flex;
  justify-content: space-between;
}

.contact-section__content-ls {
  display: flex;
  flex-direction: column;
}
.contact-section__content-ls h2 {
  color: rgb(0, 0, 0);
  font-family: Stem;
  font-size: 48px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-bottom: 38px;
}
.contact-section__content-ls p {
  color: rgb(0, 0, 0);
  font-family: Stem;
  font-size: 20px;
  font-weight: 350;
  line-height: 130%;
  text-align: left;
}
.contact-section__content-ls a {
  background-image: url("../../assets/image/footer/arrow.png");
  background-position: left center;
  background-repeat: no-repeat;
  margin-top: 115px;
  padding-left: 15px;
  color: var(--blue-color);
  font-family: Stem;
  font-size: 18px;
  font-weight: 350;
  line-height: 24px;
}

.contact-section__content-ls p:nth-child(3) {
  margin-bottom: 20px;
}

[class*=__container] {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--bg-color);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Stem;
  font-size: 20px;
  font-weight: 350;
}

:root {
  --bg-color: #f7f8f8;
  --dark-main-text: #1d1d1d;
  --white-main-text: #ffffff;
  --white-color: #ffffff;
  --blue-color: #1d71a0;
  --orange-color: #e04926;
}