@font-face {
	font-family: "Stem";
	src: url(../../assets/fonts/AnyConv.com__Stem-Medium.woff2);
}

@font-face {
	font-family: "Stem";
	src: url(../../assets/fonts/AnyConv.com__Stem-Bold.woff2);
}

@font-face {
	font-family: "Stem";
	src: url(../../assets/fonts/AnyConv.com__Stem-SemiLight.woff2);
}

@font-face {
	font-family: "Gotham";
	src: url(../../assets/fonts/gothampro_medium.woff2);
}


