[class*="__container"] {
	max-width: 1190px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: var(--bg-color);
}
body._lock {
	overflow: hidden;
}
main {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: $ff1;
	font-size: 20px;
	font-weight: 350;
}
