//ШРИФТ ПО УМОЛЧАНИЮ>

@font-face {
	font-family: "Stem";
	src: url("../../assets/fonts/Stem-SemiLight.ttf");
	font-weight: 350;
	font-style: normal;
}
@font-face {
	font-family: "Stem";
	src: url("../../assets/fonts/Stem-Medium.ttf");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Stem";
	src: url("../../assets/fonts/Stem-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}

// ФАЙЛ ОБНУЛЯЮЩИХ СТИЛЕЙ>
@import "./components/nullstyle";

// ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "./Layouts/allstyle";
@import "./Layouts/footer";
@import "./Layouts/wrapper";
@import "./Layouts/fonts";
@import "./Layouts/header";

//ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>
@import "./Layouts/forms";
@import "./components/ui";
@import "./components/mixins";
