// ПЕРЕМЕННЫЕ>

$minwidth: 320px;
$md1: 992.98px;
$md2: 767.98px;
$md3: 479.98px;

$ff1: Stem;
$ff2: Gotham;

:root {
	--dark-main-text: #1d1d1d;
	--white-main-text: #ffffff;
	--blue-color: #1d71a0;
	--orange-color: #e04926;
}
